<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Чат</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/pages/chat.css">
  </head>
  <body class="bg-dark chat-body">
      {{{body}}}
  </body>
</html>
